footer {
    /* Estilos para o footer */
    background-color: rgb(27, 95, 44);
    color: white;
    text-align: center;
    padding: 10px;

    a {
        color: white;
        font-weight: bold;
        text-decoration: underline;
    }
  }