@use './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: variables.$font-stack;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: variables.$color-bgdark;;
}