@use '../styles//variables.scss';

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;

    h1 a {
        color : variables.$color-contrast;
        font-size: 2.2em;
        font-weight: 400;
        text-align: center;
     }
 
     strong {
         color: white;
     }
}

@media (max-width: 560px) {
    #nav h1 a {
        font-size: 1.7rem;
    }
}
